<h2>Hello {{userObj.username}}</h2>
<p>Firstname: {{userObj.firstName}}</p>
<p>Lastname: {{userObj.lastName}}</p>
<p>Profession: {{userObj.profession}}</p> 
<p>Bio: {{userObj.bio}}</p> 

<a href="logout">"Click this link to logout"</a>      



