<h1>Person Found</h1>
<h2>{{peopleObj.firstName}} {{peopleObj.lastName}}</h2>
<dl>
  <dt>ID</dt>
  <dd>{{peopleObj.id}}</dd>
  <dt>First Name</dt>
  <dd>{{peopleObj.firstName}}</dd>
  <dt>Last Name</dt>
  <dd>{{peopleObj.lastName}}</dd>
  <dt>Address</dt>
  <dd>{{peopleObj.address}}</dd>
  <dt>Zip Code</dt>
  <dd>{{peopleObj.zip}}</dd>
  <dt>Phone</dt>
  <dd>{{peopleObj.phone}}</dd>
  <dt>Social Security Number</dt>
  <dd>{{peopleObj.ssn}}</dd>
</dl> 